---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Política de privacidad">
  <main
    class="p-8 min-h-[cacl(100dvh-64px)] w-full max-w-4xl mx-auto font-display"
  >
    <h1 class="text-3xl md:text-4xl lg:text-5xl text-fuego-orange font-bold">
      Política de privacidad
    </h1>
    <h2
      class="text-2xl md:text-3xl lg:text-4xl text-fuego-red mt-2 mb-4 font-semibold"
    >
      Fuego Burger
    </h2>

    <section class="space-y-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque placeat
        deserunt, veniam explicabo tempore temporibus eveniet mollitia fugit
        corporis similique, possimus sequi commodi totam ipsam voluptas iste
        laboriosam nam necessitatibus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque non
        architecto veritatis numquam. Excepturi, veniam esse! Sit fuga fugiat
        tempora similique neque id dicta unde non dolor ut libero impedit saepe,
        alias, error perspiciatis iusto provident rem mollitia deserunt
        asperiores? Inventore sit, doloribus voluptas perspiciatis quidem
        quisquam debitis temporibus veniam numquam ducimus fugiat veritatis
        rerum ipsum. Voluptatibus, itaque eum.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, cumque
        ducimus! Quasi repellendus voluptas molestiae commodi, odit, eius
        molestias ut consequuntur harum reiciendis illo sapiente soluta maiores
        minima nisi a necessitatibus ratione perspiciatis! Iure consequatur
        modi, magni labore accusantium architecto accusamus porro consectetur
        aperiam nisi, velit similique molestiae, dolorum dolor nobis nam?
        Sapiente, autem. In reprehenderit numquam reiciendis sapiente accusamus
        accusantium, molestiae ab saepe quis ut beatae quam laboriosam odio,
        maxime ad repellendus cumque distinctio repudiandae excepturi vel
        fugiat. Nesciunt vel quisquam culpa ratione nostrum suscipit corporis
        consequatur est corrupti asperiores, voluptatem nemo quia, praesentium
        eius hic odio iure omnis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque non
        architecto veritatis numquam. Excepturi, veniam esse! Sit fuga fugiat
        tempora similique neque id dicta unde non dolor ut libero impedit saepe,
        alias, error perspiciatis iusto provident rem mollitia deserunt
        asperiores? Inventore sit, doloribus voluptas perspiciatis quidem
        quisquam debitis temporibus veniam numquam ducimus fugiat veritatis
        rerum ipsum. Voluptatibus, itaque eum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque placeat
        deserunt, veniam explicabo tempore temporibus eveniet mollitia fugit
        corporis similique, possimus sequi commodi totam ipsam voluptas iste
        laboriosam nam necessitatibus!
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum tempora
        esse nemo at natus iusto dignissimos voluptatem atque. Quidem tempore
        corporis cumque. Reiciendis quia necessitatibus nemo perferendis
        deserunt corporis? Delectus earum perspiciatis ratione rem? Fugit
        adipisci, nulla animi consectetur odio reiciendis doloremque ratione
        molestiae aspernatur nemo minima cupiditate eius veritatis quod hic
        beatae? Hic, dolores praesentium accusantium voluptate amet in veniam
        eligendi maiores eum incidunt. Cumque voluptatem commodi ea molestiae
        necessitatibus quaerat quae illum sint amet unde sapiente, ducimus
        corporis accusantium facilis corrupti quos error labore repellendus
        repudiandae in quas! Veritatis quo expedita quidem error aut! Fuga
        accusamus perspiciatis error mollitia quaerat vel aspernatur culpa
        molestiae id. Ullam, fugit dolorum veritatis, porro sequi laborum, sunt
        explicabo quae quasi inventore temporibus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit velit
        commodi repudiandae. Nulla rem numquam perspiciatis quis ab, cum
        consequatur maiores nobis incidunt eaque modi optio in, voluptates
        eveniet eius.
      </p>
    </section>
  </main>
</Layout>
